@font-face {
  font-family: "vt323";
  src: url("../public/fonts/VT323-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vt323";
}

body {
  background-color: #100f16;
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth button {
  all: unset;
  font-size: 2.5rem;
  cursor: pointer;
}

.sign-out {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #100f16;
}

.sign-out button {
  all: unset;
  font-size: 1.5rem;
  cursor: pointer;
}

p {
  font-family: "vt323";
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

label {
  font-family: "VT323";
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.room label {
  font-size: 3rem;
}

.room-number {
  all: unset;
  font-size: 3rem;
}

.room button {
  all: unset;
  font-size: 3rem;
  cursor: pointer;
}
